body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Prevents scrollbars */
    position: relative; /* Added to position the pseudo-element */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("assets/img/reg/bro5.png") no-repeat center center fixed;   
    background-size: cover;
    opacity: 0.5; /* Adjust the opacity here */
    z-index: 1;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 300px;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    opacity: 0.9; /* Adjust the opacity as needed */
}

h2 {
    margin-top: 0;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    text-align: center;
}

.correct-message {
    color: green;
    text-align: center;
}

.background-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    z-index: 3; /* Higher z-index to make it clickable */
    pointer-events: auto; /* Ensures the element can receive click events */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}

.background-logo img {
    width: 100%;
    height: auto;
}
