* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background: url('Elements/Bg.jpg'); /*UNG ELEMENTS LAGING TANDAAN UNG FILE PATH*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  background-color: rgba(230, 239, 177, 0.777);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px; 
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover {
  background-color: #c3ff0047;
}
nav li.logo {
  margin-right: 30px; 
}
nav li.logo img {
  width: 100px;
  height: auto;
}
nav li.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
}
nav li.search-bar input {
  width: 30%; 
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #262626;
  border-radius: 4px;
}


.navbar li.message-icon img,
.navbar li.transaction-icon img {
  width: 30px; 
  height: 30px; 
}

.sidebar {
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
  padding: 15px;
  text-decoration: none;
  color: black;
}
.menu-button {
  display: none;
}
@media(max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}
@media(max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
