* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.1); /*UNG ELEMENTS LAGING TANDAAN UNG FILE PATH*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  background-color: rgba(255, 255, 255, 0.96);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px; 
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover {
  background-color: #c3ff0047;
}
nav li.logo {
  margin-right: 30px; 
}
nav li.logo img {
  width: 100px;
  height: auto;
}
nav li.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
}
nav li.search-bar input {
  width: 30%; 
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #262626;
  border-radius: 4px;
}


.navbar li.message-icon img,
.navbar li.transaction-icon img {
  width: 30px; 
  height: 30px; 
}

.sidebar {
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
  padding: 15px;
  text-decoration: none;
  color: black;
}
.menu-button {
  display: none;
}


.content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px rgb(255, 255, 255);
  border-radius: 8px;
  text-align: center;
}
.content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  opacity: 80%;
}
.content p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  color: #f2f8a1;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
@media(max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}
@media(max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .content p {
    font-size: 50px; 
  }
  .content img {
    width: 100%; 
    height: auto; 
  }
}
