body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #0b1e31;
    color: white;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: #34495e;
}

.main-content {
    margin-left: 200px; 
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: calc(100% - 220px);
    top: 0;
    left: 220px;
    box-sizing: border-box;
}

.burger-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.welcome-message {
    font-size: 18px;
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.hidden {
        transform: translateX(0);
    }

    .main-content {
        margin-left: 0;
    }

    .top-bar {
        width: 100%;
        left: 0;
    }

    .burger-icon {
        display: block;
    }
}

.dashboard-container, .users-container, .contracts-container, .about-container {
    margin-top: 60px;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.stat {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.users ul {
    list-style: none;
    padding: 0;
}

.users li {
    background: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
